In [ ]:
Напишите программу, которая генерирует Series c данными о ежедневных доходах от
трейдинга за прошлый год (индексы – это даты, суммы дохода – случайные, но учтите, что они
могут быть и отрицательными).
Программа должны вывести:
○ Годовую доходность.
○ Среднюю дневную доходность.
○ Медианную дневную доходность.
○ Наивысшую дневную доходность.
○ Наибольший дневной убыток.

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# Генерация Series с данными о ежедневных доходах
start_date = datetime(2022, 1, 1)
end_date = datetime(2022, 12, 31)
dates = pd.date_range(start_date, end_date)
daily_returns = pd.Series(np.random.uniform(-100, 100, len(dates)), index=dates)

# Вывод годовой доходности
annual_return = daily_returns.sum()
print(f"Годовая доходность: {annual_return:.2f}")

# Вывод средней дневной доходности
avg_daily_return = daily_returns.mean()
print(f"Средняя дневная доходность: {avg_daily_return:.2f}")

# Вывод медианной дневной доходности
median_daily_return = daily_returns.median()
print(f"Медианная дневная доходность: {median_daily_return:.2f}")

# Вывод наивысшей дневной доходности
max_daily_return = daily_returns.max()
print(f"Наивысшая дневная доходность: {max_daily_return:.2f}")

# Вывод наибольшего дневного убытка
min_daily_return = daily_returns.min()
print(f"Наибольший дневной убыток: {min_daily_return:.2f}")

Годовая доходность: -962.20
Средняя дневная доходность: -2.64
Медианная дневная доходность: -1.62
Наивысшая дневная доходность: 98.76
Наибольший дневной убыток: -99.46

In [ ]:
2. Для Series из предыдущей задачи создайте срез с ежедневными доходами в мае. Выведите
для мая:
○ Месячную доходность.
○ Среднюю дневную доходность.
○ Медианную дневную доходность.
○ Наивысшую дневную доходность.
○ Наибольший дневной убыток

In [3]:
# Генерация Series с данными о ежедневных доходах

# Создание среза с данными за май
may_returns = daily_returns['2022-05-01':'2022-05-31']

# Вывод показателей за май
may_monthly_return = may_returns.sum()
print(f"Месячная доходность за май: {may_monthly_return:.2f}")

may_avg_daily_return = may_returns.mean()
print(f"Средняя дневная доходность за май: {may_avg_daily_return:.2f}")

may_median_daily_return = may_returns.median()
print(f"Медианная дневная доходность за май: {may_median_daily_return:.2f}")

may_max_daily_return = may_returns.max()
print(f"Наивысшая дневная доходность за май: {may_max_daily_return:.2f}")

may_min_daily_return = may_returns.min()
print(f"Наибольший дневной убыток за май: {may_min_daily_return:.2f}")

Месячная доходность за май: 31.77
Средняя дневная доходность за май: 1.02
Медианная дневная доходность за май: 12.56
Наивысшая дневная доходность за май: 87.99
Наибольший дневной убыток за май: -95.79

In [ ]:
3. Напишите программу для генерации DataFrame с информацией о 35 сотрудниках
компании. Фамилии, должности и отделы должны выбираться случайным образом из
заранее заданного списка. Зарплата генерируется как случайное число с
нормальным распределением.Необходимо определить минимальную,максимальную
и медианную зарплату. Вывести данные о сотрудниках с найденными зарплатами.

In [5]:
import random
# Списки фамилий, должностей и отделов
last_names = ['Иванов', 'Петров', 'Сидоров', 'Кузнецов', 'Смирнов', 'Попов', 'Соколов', 'Михайлов', 'Новиков', 'Морозов']
positions = ['Менеджер', 'Специалист', 'Аналитик', 'Программист', 'Бухгалтер', 'HR-менеджер', 'Директор', 'Консультант', 'Инженер', 'Маркетолог']
departments = ['Продажи', 'Финансы', 'IT', 'HR', 'Маркетинг', 'Производство', 'Логистика', 'Администрация', 'Исследования', 'Обслуживание']

# Генерация DataFrame
num_employees = 35
employee_data = {
    'Фамилия': [random.choice(last_names) for _ in range(num_employees)],
    'Должность': [random.choice(positions) for _ in range(num_employees)],
    'Отдел': [random.choice(departments) for _ in range(num_employees)],
    'Зарплата': np.random.normal(loc=50000, scale=10000, size=num_employees).astype(int)
}
df = pd.DataFrame(employee_data)

# Вывод минимальной, максимальной и медианной зарплаты
min_salary = df['Зарплата'].min()
max_salary = df['Зарплата'].max()
median_salary = df['Зарплата'].median()

print(f"Минимальная зарплата: {min_salary}")
print(f"Максимальная зарплата: {max_salary}")
print(f"Медианная зарплата: {median_salary}")

# Вывод данных о сотрудниках с найденными зарплатами
print("\nДанные о сотрудниках:")
print(df)

Минимальная зарплата: 20504
Максимальная зарплата: 78221
Медианная зарплата: 51002.0

Данные о сотрудниках:
     Фамилия    Должность          Отдел  Зарплата
0    Сидоров    Бухгалтер      Маркетинг     78221
1    Сидоров     Аналитик             IT     57474
2    Новиков  HR-менеджер   Производство     69926
3    Соколов     Аналитик   Исследования     51002
4     Иванов  Консультант   Обслуживание     39870
5     Иванов     Аналитик   Обслуживание     57330
6      Попов     Аналитик        Продажи     59635
7    Морозов      Инженер   Производство     47808
8    Морозов     Аналитик   Исследования     56537
9    Соколов   Специалист             HR     62651
10   Смирнов  Консультант   Производство     61709
11    Петров   Специалист        Продажи     49003
12    Петров     Менеджер   Исследования     56265
13   Новиков     Директор      Маркетинг     42594
14   Соколов     Директор        Финансы     58512
15   Сидоров  HR-менеджер   Производство     20504
16  Кузнецов  HR-менеджер  Администрация     41149
17    Петров     Менеджер             IT     39400
18   Смирнов     Менеджер   Исследования     49027
19  Кузнецов   Специалист        Продажи     42215
20    Иванов     Аналитик      Маркетинг     45124
21    Иванов   Специалист   Производство     59016
22    Иванов    Бухгалтер        Продажи     53606
23  Кузнецов     Аналитик   Исследования     42543
24     Попов  Консультант        Финансы     36589
25   Морозов    Бухгалтер             HR     36311
26   Морозов  HR-менеджер   Исследования     53775
27   Соколов  Консультант      Логистика     41229
28    Петров  Программист   Производство     54320
29   Сидоров      Инженер  Администрация     47577
30    Петров     Менеджер        Продажи     35071
31   Новиков   Специалист             HR     58535
32    Петров      Инженер  Администрация     52242
33  Михайлов     Аналитик   Обслуживание     52768
34    Петров    Бухгалтер  Администрация     46840

In [ ]:
4. Для DataFrame из предыдущей задачи отсортируйте данные по размеру зарплаты. Из
отсортированного датафрейма выведите 5 первых строк и 3 последних.

In [6]:
# Сортировка DataFrame по размеру зарплаты
df = df.sort_values(by='Зарплата', ascending=True)

# Вывод 5 первых и 3 последних строк
print("5 сотрудников с наименьшей зарплатой:")
print(df.head())
print("\n3 сотрудника с наибольшей зарплатой:")
print(df.tail(3))

5 сотрудников с наименьшей зарплатой:
    Фамилия    Должность         Отдел  Зарплата
15  Сидоров  HR-менеджер  Производство     20504
30   Петров     Менеджер       Продажи     35071
25  Морозов    Бухгалтер            HR     36311
24    Попов  Консультант       Финансы     36589
17   Петров     Менеджер            IT     39400

3 сотрудника с наибольшей зарплатой:
   Фамилия    Должность         Отдел  Зарплата
9  Соколов   Специалист            HR     62651
2  Новиков  HR-менеджер  Производство     69926
0  Сидоров    Бухгалтер     Маркетинг     78221

In [ ]:
5. Напишите программу, которая:
● Генерирует случайные данные о ежедневных объемах продаж ноутбуков, планшетов и
смартфонов в магазинах A, B, C, D, E, …, X, Y, Z.
● Выведите описательные статистики по товарам и по магазинам.

In [11]:
# Генерация случайных данных о продажах
num_days = 30
num_stores = 26
product_types = ['Ноутбуки', 'Планшеты', 'Смартфоны']

# Создаем список названий магазинов (store_names) с использованием кодов ASCII букв от 'A' до 'Z'.
store_names = [chr(ord('A') + i) for i in range(num_stores)]

# Генерируем случайные данные о продажах с помощью np.random.randint() и 
# создаем DataFrame sales_data с многоуровневыми столбцами, 
# где первый уровень - название магазина, а второй - тип продукта.
sales_data = pd.DataFrame(np.random.randint(10, 101, size=(num_days, num_stores * len(product_types))),
                         columns=pd.MultiIndex.from_product([store_names, product_types], names=['Магазин', 'Товар']))

# Вывод описательных статистик по товарам
print("Описательные статистики по товарам:")
print(sales_data.swaplevel(axis=1).describe())
print()

# Вывод описательных статистик по магазинам
print("Описательные статистики по магазинам:")
print(sales_data.describe())

Описательные статистики по товарам:
Товар     Ноутбуки   Планшеты  Смартфоны   Ноутбуки   Планшеты  Смартфоны  \
Магазин          A          A          A          B          B          B
count    30.000000  30.000000  30.000000  30.000000  30.000000  30.000000
mean     50.566667  50.100000  53.233333  47.166667  56.000000  51.333333
std      22.637600  25.704354  24.985076  26.582446  25.488334  25.872810
min      11.000000  10.000000  14.000000  12.000000  13.000000  10.000000
25%      34.250000  27.000000  33.000000  25.250000  37.000000  31.500000
50%      47.000000  54.500000  52.500000  44.000000  51.000000  46.000000
75%      67.500000  64.750000  75.250000  69.250000  79.750000  69.250000
max      89.000000  96.000000  98.000000  93.000000  99.000000  99.000000

Товар     Ноутбуки   Планшеты  Смартфоны    Ноутбуки  ...  Смартфоны  \
Магазин          C          C          C           D  ...          W
count    30.000000  30.000000  30.000000   30.000000  ...  30.000000
mean     54.400000  52.800000  44.633333   61.033333  ...  53.433333
std      25.107493  25.708445  25.488988   23.414530  ...  29.163846
min      12.000000  11.000000  10.000000   21.000000  ...  11.000000
25%      30.500000  33.250000  21.000000   44.000000  ...  26.250000
50%      59.000000  52.500000  40.500000   57.000000  ...  52.500000
75%      76.500000  70.500000  64.750000   81.750000  ...  83.000000
max      95.000000  96.000000  98.000000  100.000000  ...  97.000000

Товар      Ноутбуки   Планшеты   Смартфоны   Ноутбуки   Планшеты  Смартфоны  \
Магазин           X          X           X          Y          Y          Y
count     30.000000  30.000000   30.000000  30.000000  30.000000  30.000000
mean      54.066667  52.266667   52.600000  55.933333  52.100000  60.533333
std       27.013322  26.355570   29.031018  25.739991  26.563327  27.700035
min       10.000000  14.000000   12.000000  10.000000  13.000000  11.000000
25%       32.750000  24.500000   26.750000  37.250000  32.000000  42.250000
50%       57.000000  53.000000   46.000000  50.500000  52.000000  66.000000
75%       75.000000  73.000000   78.000000  73.000000  71.250000  85.500000
max      100.000000  93.000000  100.000000  93.000000  99.000000  97.000000

Товар     Ноутбуки   Планшеты   Смартфоны
Магазин          Z          Z           Z
count    30.000000  30.000000   30.000000
mean     60.066667  59.133333   59.100000
std      28.657229  26.101570   29.122038
min      10.000000  10.000000   13.000000
25%      34.250000  38.250000   32.250000
50%      67.500000  57.000000   59.000000
75%      79.000000  85.000000   90.750000
max      99.000000  98.000000  100.000000

[8 rows x 78 columns]

Описательные статистики по магазинам:
Магазин          A                                B                        \
Товар     Ноутбуки   Планшеты  Смартфоны   Ноутбуки   Планшеты  Смартфоны
count    30.000000  30.000000  30.000000  30.000000  30.000000  30.000000
mean     50.566667  50.100000  53.233333  47.166667  56.000000  51.333333
std      22.637600  25.704354  24.985076  26.582446  25.488334  25.872810
min      11.000000  10.000000  14.000000  12.000000  13.000000  10.000000
25%      34.250000  27.000000  33.000000  25.250000  37.000000  31.500000
50%      47.000000  54.500000  52.500000  44.000000  51.000000  46.000000
75%      67.500000  64.750000  75.250000  69.250000  79.750000  69.250000
max      89.000000  96.000000  98.000000  93.000000  99.000000  99.000000

Магазин          C                                 D  ...          W  \
Товар     Ноутбуки   Планшеты  Смартфоны    Ноутбуки  ...  Смартфоны
count    30.000000  30.000000  30.000000   30.000000  ...  30.000000
mean     54.400000  52.800000  44.633333   61.033333  ...  53.433333
std      25.107493  25.708445  25.488988   23.414530  ...  29.163846
min      12.000000  11.000000  10.000000   21.000000  ...  11.000000
25%      30.500000  33.250000  21.000000   44.000000  ...  26.250000
50%      59.000000  52.500000  40.500000   57.000000  ...  52.500000
75%      76.500000  70.500000  64.750000   81.750000  ...  83.000000
max      95.000000  96.000000  98.000000  100.000000  ...  97.000000

Магазин           X                                 Y                        \
Товар      Ноутбуки   Планшеты   Смартфоны   Ноутбуки   Планшеты  Смартфоны
count     30.000000  30.000000   30.000000  30.000000  30.000000  30.000000
mean      54.066667  52.266667   52.600000  55.933333  52.100000  60.533333
std       27.013322  26.355570   29.031018  25.739991  26.563327  27.700035
min       10.000000  14.000000   12.000000  10.000000  13.000000  11.000000
25%       32.750000  24.500000   26.750000  37.250000  32.000000  42.250000
50%       57.000000  53.000000   46.000000  50.500000  52.000000  66.000000
75%       75.000000  73.000000   78.000000  73.000000  71.250000  85.500000
max      100.000000  93.000000  100.000000  93.000000  99.000000  97.000000

Магазин          Z
Товар     Ноутбуки   Планшеты   Смартфоны
count    30.000000  30.000000   30.000000
mean     60.066667  59.133333   59.100000
std      28.657229  26.101570   29.122038
min      10.000000  10.000000   13.000000
25%      34.250000  38.250000   32.250000
50%      67.500000  57.000000   59.000000
75%      79.000000  85.000000   90.750000
max      99.000000  98.000000  100.000000

[8 rows x 78 columns]

In [ ]:
6. Для датафрейма из предыдущей задачи запросите у пользователя ввод товара. Выведите все
данные о продажах этого товара. Затем запросите у пользователя магазин, выведите данные
о продажах товаров в этом магазине.

In [20]:
product = input("Введите товар (Ноутбуки, Планшеты или Смартфоны): ")

# # Вывод данных о продажах выбранного товара
# print(f"\nДанные о продажах {product}:")
# print(sales_data.loc[:, (slice(None), product)])
print(f"\nДанные о продажах {product}:")
for i in range(1, num_days+1):
    print(f"{i:2d}  {sales_data.loc[i-1, (slice(None), product)].tolist()}")
# Запрос магазина у пользователя
store = input("Введите название магазина (A-Z): ")

# Вывод данных о продажах в выбранном магазине
print(f"\nДанные о продажах в магазине {store}:")
print(sales_data.loc[:, (store, slice(None))])

Введите товар (Ноутбуки, Планшеты или Смартфоны):  Ноутбуки

Данные о продажах Ноутбуки:
 1  [65, 17, 82, 34, 41, 70, 83, 52, 72, 16, 58, 54, 96, 53, 39, 72, 28, 14, 53, 46, 21, 57, 34, 47, 34, 29]
 2  [82, 72, 55, 86, 64, 98, 93, 51, 96, 51, 91, 27, 87, 71, 48, 83, 55, 15, 36, 89, 38, 17, 52, 56, 47, 50]
 3  [58, 15, 12, 45, 26, 64, 57, 56, 89, 84, 43, 49, 22, 92, 38, 86, 83, 80, 20, 59, 52, 16, 78, 58, 46, 67]
 4  [31, 26, 35, 21, 63, 60, 30, 82, 42, 70, 45, 28, 54, 52, 55, 47, 40, 40, 56, 86, 17, 49, 89, 63, 91, 68]
 5  [42, 50, 40, 93, 30, 11, 75, 63, 94, 56, 86, 50, 71, 85, 25, 65, 93, 50, 81, 13, 92, 65, 69, 95, 64, 99]
 6  [47, 38, 60, 86, 68, 52, 100, 41, 74, 43, 99, 15, 28, 27, 22, 93, 28, 23, 89, 89, 86, 15, 83, 100, 36, 78]
 7  [36, 70, 80, 79, 15, 28, 13, 57, 33, 98, 79, 70, 50, 60, 24, 58, 72, 53, 44, 98, 90, 33, 38, 58, 63, 79]
 8  [85, 55, 95, 95, 18, 85, 25, 67, 26, 93, 10, 23, 29, 35, 67, 27, 69, 84, 37, 51, 82, 39, 16, 61, 48, 61]
 9  [85, 13, 19, 100, 30, 98, 18, 21, 18, 59, 72, 62, 97, 62, 97, 23, 67, 19, 44, 95, 66, 11, 10, 76, 85, 15]
10  [40, 45, 66, 27, 31, 69, 93, 86, 15, 33, 31, 58, 29, 95, 14, 35, 49, 73, 56, 36, 80, 91, 13, 28, 73, 87]
11  [66, 20, 26, 31, 74, 24, 66, 34, 33, 35, 19, 16, 83, 31, 79, 27, 13, 31, 100, 31, 50, 22, 80, 10, 22, 67]
12  [33, 39, 44, 50, 14, 78, 86, 64, 98, 34, 96, 13, 89, 94, 82, 34, 92, 62, 67, 21, 56, 59, 17, 23, 16, 91]
13  [76, 17, 58, 50, 39, 12, 87, 67, 79, 46, 13, 70, 88, 98, 69, 31, 34, 92, 84, 67, 25, 60, 31, 42, 93, 16]
14  [51, 93, 66, 71, 74, 68, 92, 13, 25, 78, 86, 54, 62, 40, 34, 31, 19, 71, 55, 66, 59, 13, 11, 55, 72, 79]
15  [26, 16, 89, 77, 56, 90, 98, 54, 26, 19, 99, 71, 57, 77, 85, 33, 66, 10, 46, 80, 11, 61, 87, 11, 16, 24]
16  [40, 25, 29, 37, 41, 19, 18, 91, 66, 63, 79, 66, 23, 43, 12, 70, 94, 89, 22, 94, 26, 79, 32, 59, 45, 10]
17  [43, 67, 78, 34, 30, 86, 97, 69, 21, 60, 93, 26, 65, 42, 82, 75, 91, 98, 44, 24, 78, 87, 44, 45, 92, 77]
18  [20, 56, 85, 58, 65, 85, 14, 57, 30, 67, 13, 59, 94, 53, 96, 49, 90, 75, 89, 60, 60, 66, 51, 88, 10, 78]
19  [11, 50, 14, 81, 78, 49, 32, 79, 33, 66, 17, 21, 73, 78, 28, 17, 90, 85, 90, 30, 56, 76, 79, 72, 28, 79]
20  [75, 75, 72, 44, 24, 35, 82, 68, 58, 44, 82, 55, 34, 65, 41, 63, 32, 82, 23, 44, 87, 83, 97, 48, 49, 10]
21  [20, 45, 84, 84, 59, 36, 64, 50, 52, 39, 33, 36, 31, 66, 29, 37, 41, 51, 64, 98, 81, 86, 98, 29, 64, 97]
22  [89, 90, 62, 44, 15, 77, 39, 14, 51, 14, 80, 97, 75, 51, 81, 21, 23, 36, 72, 16, 81, 19, 35, 32, 27, 10]
23  [25, 33, 61, 77, 41, 28, 97, 48, 24, 79, 86, 99, 69, 32, 17, 91, 21, 74, 18, 88, 46, 18, 30, 86, 48, 29]
24  [68, 12, 17, 46, 76, 43, 95, 16, 25, 89, 81, 20, 59, 36, 56, 85, 19, 64, 53, 88, 14, 85, 59, 88, 41, 63]
25  [50, 89, 55, 87, 83, 80, 57, 55, 65, 54, 37, 66, 31, 20, 79, 32, 59, 36, 55, 48, 20, 86, 85, 96, 73, 82]
26  [89, 91, 84, 72, 25, 87, 56, 73, 83, 83, 48, 80, 10, 68, 100, 28, 61, 98, 80, 30, 38, 70, 100, 11, 88, 99]
27  [34, 88, 51, 82, 48, 12, 60, 21, 96, 86, 71, 94, 46, 85, 51, 65, 38, 81, 33, 76, 26, 34, 37, 13, 89, 69]
28  [35, 28, 27, 49, 46, 79, 91, 68, 13, 30, 66, 14, 85, 63, 75, 73, 35, 69, 33, 41, 12, 60, 57, 35, 52, 69]
29  [48, 37, 23, 35, 65, 71, 23, 15, 90, 81, 91, 11, 99, 67, 43, 13, 95, 12, 70, 53, 46, 74, 76, 76, 93, 53]
30  [47, 43, 63, 56, 38, 68, 79, 71, 48, 18, 26, 55, 60, 81, 50, 44, 83, 45, 60, 46, 96, 100, 69, 61, 73, 67]

Введите название магазина (A-Z):  A

Данные о продажах в магазине A:
Магазин        A
Товар   Ноутбуки Планшеты Смартфоны
0             65       94        52
1             82       12        18
2             58       83        94
3             31       53        39
4             42       10        22
5             47       14        63
6             36       88        67
7             85       30        48
8             85       59        30
9             40       40        14
10            66       74        85
11            33       63        55
12            76       96        81
13            51       60        80
14            26       65        33
15            40       57        81
16            43       80        29
17            20       42        67
18            11       26        45
19            75       35        14
20            20       76        28
21            89       56        87
22            25       43        38
23            68       61        53
24            50       41        70
25            89       21        33
26            34       15        98
27            35       26        77
28            48       64        37
29            47       19        59

In [ ]:
В предыдущей задаче найдите средний объем продаж выбранного товара. Выведите
датафрейм с магазинами, объем продаж этого товара в которых был выше среднего.

In [36]:
# Расчет среднего объема продаж выбранного товара
avg_sales = sales_data.loc[:, (slice(None), product)].mean().mean()
print(f"\nСредний объем продаж {product}: {avg_sales:.2f}")

# Магазины с продажами выше среднего
above_avg_stores = sales_data.loc[:, (slice(None), product)].mean(axis=0) > avg_sales
filtered_stores = above_avg_stores[above_avg_stores].index.get_level_values(0)

above_avg_df = pd.DataFrame({
    'Магазин': filtered_stores,
    'Средние продажи': sales_data.loc[:, (filtered_stores, product)].mean(axis=0).values
})

print(f"\nМагазины с продажами {product} выше среднего:")
print(above_avg_df)

Средний объем продаж Ноутбуки: 57.67

Магазины с продажами Ноутбуки выше среднего:
   Магазин  Средние продажи
0        B        58.866667
1        C        60.700000
2        F        60.600000
3        H        63.466667
4        I        60.266667
5        J        64.300000
6        M        66.266667
7        N        60.166667
8        P        61.700000
9        S        60.600000
10       T        60.233333
11       V        58.566667
12       X        59.566667