In [2]:
import pandas as pd
import numpy as np

l = [1, 3, 5, np.nan, 6, 8]
d = pd.date_range('20160101', periods=6)
d
# DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
# '2016-01-05', '2016-01-06'],
# dtype='datetime64[ns]', freq='D')
s = pd.Series(l, index=d)
s

2016-01-01    1.0
2016-01-02    3.0
2016-01-03    5.0
2016-01-04    NaN
2016-01-05    6.0
2016-01-06    8.0
Freq: D, dtype: float64

In [3]:
s[s>3]

2016-01-03    5.0
2016-01-05    6.0
2016-01-06    8.0
dtype: float64

In [4]:
s = pd.Series(l)
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
s.values, type(s.values)
# (array([ 1., 3., 5., nan, 6., 8.]), numpy.ndarray)
s.to_dict()
# {0: 1.0, 1: 3.0, 2: 5.0, 3: nan, 4: 6.0, 5: 8.0}

{0: 1.0, 1: 3.0, 2: 5.0, 3: nan, 4: 6.0, 5: 8.0}

In [ ]:
s.index
# RangeIndex(start=0, stop=6, step=1)

In [7]:
# –ß—Ç–æ –¥–µ–ª–∞–µ—Ç s.describe():
# count: –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–µ–Ω—É–ª–µ–≤—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π.
# mean: —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ.
# std: —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ.
# min: –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ.
# 25%: 25-–π –ø—Ä–æ—Ü–µ–Ω—Ç–∏–ª—å (–ø–µ—Ä–≤—ã–π –∫–≤–∞—Ä—Ç–∏–ª—å).
# 50%: –º–µ–¥–∏–∞–Ω–∞ (50-–π –ø—Ä–æ—Ü–µ–Ω—Ç–∏–ª—å).
# 75%: 75-–π –ø—Ä–æ—Ü–µ–Ω—Ç–∏–ª—å (—Ç—Ä–µ—Ç–∏–π –∫–≤–∞—Ä—Ç–∏–ª—å).
# max: –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ
s.describe()

count    5.000000
mean     4.600000
std      2.701851
min      1.000000
25%      3.000000
50%      5.000000
75%      6.000000
max      8.000000
dtype: float64

In [8]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s[2]

np.float64(5.0)

In [11]:
s[2] = 7 
s

0    1.0
1    3.0
2    7.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [12]:
s[2:5]

2    7.0
3    NaN
4    6.0
dtype: float64

In [13]:
s1 = s[1:]
s1

1    3.0
2    7.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [14]:
s2 = s[:-1]
s2

0    1.0
1    3.0
2    7.0
3    NaN
4    6.0
dtype: float64

In [15]:
s1 + s2

0     NaN
1     6.0
2    14.0
3     NaN
4    12.0
5     NaN
dtype: float64

In [16]:
np.exp(s1)
type(np.exp(s)), type(s)

(pandas.core.series.Series, pandas.core.series.Series)

In [17]:
cube = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])
print(cube[1, 0, 1])
print(cube[:, 1, 0])
print(cube[:, 1])

6
[3 7]
[[3 4]
 [7 8]]

In [18]:
s = pd.Series([1, 2, 3, 4, 5, 6])
t = s[2:]+s[:2]
print(t)
print(t.dropna())

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
dtype: float64
Series([], dtype: float64)

In [ ]:
–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫—É–º—É–ª—è—Ç–∏–≤–Ω–æ–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–≤–∞–¥—Ä–∞—Ç–æ–≤ —Ä–∞–∑–Ω–æ—Å—Ç–µ–π —Å–æ—Å–µ–¥–Ω–∏—Ö —ç–ª–µ–º–µ–Ω—Ç–æ–≤ –Ω–∞–±–æ—Ä–∞ s.
–û—Ç –Ω–∏—Ö –º–æ–∂–Ω–æ –∏–∑–±–∞–≤–∏—Ç—å—Å—è –ø—Ä–∏ –ø–æ–º–æ—â–∏ –º–µ—Ç–æ–¥–∞ dropna.

In [22]:
import pandas as pd

# –ü—Ä–∏–º–µ—Ä –Ω–∞–±–æ—Ä–∞ –¥–∞–Ω–Ω—ã—Ö
s = pd.Series([1, 2, 9, 6, 10])

# –í—ã—á–∏—Å–ª–µ–Ω–∏–µ —Ä–∞–∑–Ω–æ—Å—Ç–µ–π
differences = s.diff()
print(differences)
# –í–æ–∑–≤–µ–¥–µ–Ω–∏–µ –≤ –∫–≤–∞–¥—Ä–∞—Ç
squared_differences = differences ** 2
print(squared_differences)
# –ö—É–º—É–ª—è—Ç–∏–≤–Ω–æ–µ —Å—Ä–µ–¥–Ω–µ–µ
cumulative_mean = squared_differences.cumsum() / (squared_differences.notna().cumsum())

# –£–¥–∞–ª–µ–Ω–∏–µ NaN –∑–Ω–∞—á–µ–Ω–∏–π
cumulative_mean_cleaned = cumulative_mean.dropna()

print(cumulative_mean_cleaned)

0    NaN
1    1.0
2    7.0
3   -3.0
4    4.0
dtype: float64
0     NaN
1     1.0
2    49.0
3     9.0
4    16.0
dtype: float64
1     1.000000
2    25.000000
3    19.666667
4    18.750000
dtype: float64

In [25]:
# –°–≥–µ–Ω–µ—Ä–∏—Ä—É–π—Ç–µ –º–∞—Å—Å–∏–≤ —Ç–æ—á–µ–∫ –≤ 3D, —Å–æ–∑–¥–∞–π—Ç–µ –ø–æ –Ω–µ–º—É –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –∏ –æ—Ç—Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ —Å—Ç—Ä–æ–∫–∏ –≤ –ø–æ—Ä—è–¥–∫–µ
# —Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –æ—Å–µ–π.
pd.DataFrame(np.random.normal(size=(10, 3)).astype(int), columns=['x', 'y', 'z']).sort_values(by=['x', 'y', 'z']) That's all. is this from now? Switch to Orkut. No, no, no. You know, I love

   x  y  z
0 -1  0  1
9 -1  1  0
5  0  0 -1
1  0  0  0
3  0  0  0
4  0  0  0
7  0  0  0
8  0  0  0
6  0  0  2
2  1  0  0

In [28]:
d = {'one': pd.Series(range(6), index=list('abdefg')),
 'two': pd.Series(range(7), index=list('abcdefg')),
 'three': pd.Series(np.random.normal(size=7), index=list('abcdefg'))}
df = pd.DataFrame(d)
df

   one  two     three
a  0.0    0  0.735327
b  1.0    1 -0.693545
c  NaN    2  1.498307
d  2.0    3  0.330720
e  3.0    4  1.093429
f  4.0    5  0.730899
g  5.0    6 -0.367907

In [37]:
data = {
    'one': [0.0, 1.0, np.nan, 2.0, 3.0, 4.0, 5.0, np.nan],
    'two': [0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, np.nan],
    'three': [-0.359411, 1.166335, 2.130503, -1.510119, -0.012951, 0.152515, np.nan, 0.589751]
}

df = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'k'])

print(df)

   one  two     three
a  0.0  0.0 -0.359411
b  1.0  1.0  1.166335
c  NaN  2.0  2.130503
d  2.0  3.0 -1.510119
e  3.0  4.0 -0.012951
f  4.0  5.0  0.152515
g  5.0  6.0       NaN
k  NaN  NaN  0.589751

In [38]:
print(df.one)  # –ö —Å—Ç–æ–ª–±—Ü—É –º–æ–∂–Ω–æ –æ–±—Ä–∞—â–∞—Ç—å—Å—è –∫–∞–∫ –∫ –ø–æ–ª—é –æ–±—ä–µ–∫—Ç–∞, –µ—Å–ª–∏ –∏–º—è —Å—Ç–æ–ª–±—Ü–∞ –ø–æ–∑–≤–æ–ª—è–µ—Ç —ç—Ç–æ —Å–¥–µ–ª–∞—Ç—å (= —è–≤–ª—è–µ—Ç—Å—è —Å—Ç—Ä–æ–∫–æ–π)
print(df['one'].index)  # –ò–Ω–¥–µ–∫—Å –ø–æ–ª—É—á–µ–Ω–Ω–æ–≥–æ –æ–¥–Ω–æ–º–µ—Ä–Ω–æ–≥–æ –Ω–∞–±–æ—Ä–∞ –¥–∞–Ω–Ω—ã—Ö.
print(df['one'].name)  # –ú–æ–∂–Ω–æ –ø–æ–ª—É—á–∏—Ç—å –∏–º—è –¥–∞–Ω–Ω–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞
print(df['one']['d'])  # –ü–æ–ª—É—á–µ–Ω–∏–µ —ç–ª–µ–º–µ–Ω—Ç–∞ –º–∞—Å—Å–∏–≤–∞. –°–Ω–∞—á–∞–ª–∞ –Ω–∞–¥–æ —É–∫–∞–∑–∞—Ç—å —Å—Ç–æ–ª–±–µ—Ü, –ø–æ—Ç–æ–º —Å—Ç—Ä–æ–∫—É
# df['c']['one'] # –ê –Ω–∞–æ–±–æ—Ä–æ—Ç –Ω–µ–ª—å–∑—è! (–≠—Ç–∞ —Å—Ç—Ä–æ–∫–∞ –∑–∞–∫–æ–º–º–µ–Ω—Ç–∏—Ä–æ–≤–∞–Ω–∞, —Ç–∞–∫ –∫–∞–∫ –æ–Ω–∞ –Ω–µ —Ä–∞–±–æ—Ç–∞–µ—Ç)

a    0.0
b    1.0
c    NaN
d    2.0
e    3.0
f    4.0
g    5.0
k    NaN
Name: one, dtype: float64
Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'k'], dtype='object')
one
2.0

In [41]:
# –ü—Ä–∏–º–µ—Ä—ã –¥–æ—Å—Ç—É–ø–∞ –∫ –¥–∞–Ω–Ω—ã–º
print(df['b':'d'])  # –ü—Ä–∞–≤–∞ –≥—Ä–∞–Ω–∏—Ü–∞ –≤–∫–ª—é—á–µ–Ω–∞!
print(df[1:3])      # –î–∏–∞–ø–∞–∑–æ–Ω —Ü–µ–ª—ã—Ö —á–∏—Å–µ–ª –Ω–µ –≤–∫–ª—é—á–∞–µ—Ç –ø—Ä–∞–≤—É—é –≥—Ä–∞–Ω–∏—Ü—É
# –≠—Ç–∞ –∫–æ–º–∞–Ω–¥–∞ –±—É–¥–µ—Ç –≤—ã–¥–∞–≤–∞—Ç—å –æ—à–∏–±–∫—É, –ø–æ—Ç–æ–º—É —á—Ç–æ –æ–±—Ä–∞—Ç–∏—Ç—å—Å—è –ø–æ –Ω–æ–º–µ—Ä—É –∫ –∏–Ω–¥–µ–∫—Å—É –Ω–µ–ª—å–∑—è.:
# print(df[1])        # –û–±—Ä–∞—â–µ–Ω–∏–µ –ø–æ –∏–Ω–¥–µ–∫—Å—É –æ—à–∏–±–∫–∞!

# –°—Ä–µ–∑ –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö —Å—Ç–æ–ª–±—Ü–æ–≤
print(df[['one', 'three']])  # –í—ã–≤–æ–¥–∏—Ç —Å—Ç–æ–ª–±—Ü—ã 'one' –∏ 'three'

# –ò—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ display –¥–ª—è –≤—ã–≤–æ–¥–∞
from IPython.display import display
display(df['one'])          # –í—ã–≤–æ–¥–∏—Ç —Å—Ç–æ–ª–±–µ—Ü 'one'
display(df[['one']])       # –í—ã–≤–æ–¥–∏—Ç DataFrame —Å –æ–¥–Ω–∏–º —Å—Ç–æ–ª–±—Ü–æ–º 'one'

   one  two     three
b  1.0  1.0  1.166335
c  NaN  2.0  2.130503
d  2.0  3.0 -1.510119
   one  two     three
b  1.0  1.0  1.166335
c  NaN  2.0  2.130503
   one     three
a  0.0 -0.359411
b  1.0  1.166335
c  NaN  2.130503
d  2.0 -1.510119
e  3.0 -0.012951
f  4.0  0.152515
g  5.0       NaN
k  NaN  0.589751

a    0.0
b    1.0
c    NaN
d    2.0
e    3.0
f    4.0
g    5.0
k    NaN
Name: one, dtype: float64

   one
a  0.0
b  1.0
c  NaN
d  2.0
e  3.0
f  4.0
g  5.0
k  NaN

In [46]:
# –ü–æ–ª—É—á–µ–Ω–∏–µ —Å—Ç—Ä–æ–∫–∏ —Å –∏–Ω–¥–µ–∫—Å–æ–º 'b'
print("–°—Ç—Ä–æ–∫–∞ —Å –∏–Ω–¥–µ–∫—Å–æ–º 'b':")
print(df.loc['b'])

# –ü–æ–ª—É—á–µ–Ω–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —è—á–µ–π–∫–µ —Å –∏–Ω–¥–µ–∫—Å–æ–º —Å—Ç—Ä–æ–∫–∏ 'b' –∏ —Å—Ç–æ–ª–±—Ü–∞ 'one'
print("\ndf.loc['b', 'one'] –ó–Ω–∞—á–µ–Ω–∏–µ –≤ —è—á–µ–π–∫–µ —Å –∏–Ω–¥–µ–∫—Å–æ–º —Å—Ç—Ä–æ–∫–∏ 'b' –∏ —Å—Ç–æ–ª–±—Ü–∞ 'one':")
print(df.loc['b', 'one'])

# –ü–æ–ª—É—á–µ–Ω–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —è—á–µ–π–∫–µ —Å –∏–Ω–¥–µ–∫—Å–æ–º —Å—Ç—Ä–æ–∫–∏ 'b' –∏ —Å—Ç–æ–ª–±—Ü–∞ 'one' (–∞–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–Ω—ã–π —Å–ø–æ—Å–æ–±)
print("\ndf['one']['b'] –¢–æ –∂–µ –∑–Ω–∞—á–µ–Ω–∏–µ, –Ω–æ –¥—Ä—É–≥–∏–º —Å–ø–æ—Å–æ–±–æ–º: ")
print(df['one']['b'])

# –ü–æ–ª—É—á–µ–Ω–∏–µ –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ 'one' –¥–ª—è —Å—Ç—Ä–æ–∫ —Å –∏–Ω–¥–µ–∫—Å–∞–º–∏ –æ—Ç 'a' –¥–æ 'b' (–≤–∫–ª—é—á–∏—Ç–µ–ª—å–Ω–æ)
print("\ndf.loc['a':'b', 'one'] –ó–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–µ 'one' –¥–ª—è —Å—Ç—Ä–æ–∫ —Å –∏–Ω–¥–µ–∫—Å–∞–º–∏ –æ—Ç 'a' –¥–æ 'b':")
print(df.loc['a':'b', 'one'])

# –ü–æ–ª—É—á–µ–Ω–∏–µ –≤—Å–µ—Ö —Å—Ç–æ–ª–±—Ü–æ–≤ –¥–ª—è —Å—Ç—Ä–æ–∫ —Å –∏–Ω–¥–µ–∫—Å–∞–º–∏ –æ—Ç 'a' –¥–æ 'b' (–≤–∫–ª—é—á–∏—Ç–µ–ª—å–Ω–æ)
print("\ndf.loc['a':'b', :] –í—Å–µ —Å—Ç–æ–ª–±—Ü—ã –¥–ª—è —Å—Ç—Ä–æ–∫ —Å –∏–Ω–¥–µ–∫—Å–∞–º–∏ –æ—Ç 'a' –¥–æ 'b':")
print(df.loc['a':'b', :])

# –ü–æ–ª—É—á–µ–Ω–∏–µ –≤—Å–µ—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ 'one'
print("\ndf.loc[:, 'one'] –í—Å–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–µ 'one':")
print(df.loc[:, 'one'])

# –ü–æ–ª—É—á–µ–Ω–∏–µ —Å—Ç—Ä–æ–∫–∏ —Å —á–∏—Å–ª–æ–≤—ã–º –∏–Ω–¥–µ–∫—Å–æ–º 2 (—Ç—Ä–µ—Ç—å—è —Å—Ç—Ä–æ–∫–∞)
print("\ndf.iloc[2] –°—Ç—Ä–æ–∫–∞ —Å —á–∏—Å–ª–æ–≤—ã–º –∏–Ω–¥–µ–∫—Å–æ–º 2:")
print(df.iloc[2])

# –ü–æ–ª—É—á–µ–Ω–∏–µ —Å—Ç—Ä–æ–∫ —Å —á–∏—Å–ª–æ–≤—ã–º–∏ –∏–Ω–¥–µ–∫—Å–∞–º–∏ –æ—Ç 1 –¥–æ 2 (–≤–∫–ª—é—á–∏—Ç–µ–ª—å–Ω–æ)
print("\ndf.iloc[1:3] –°—Ç—Ä–æ–∫–∏ —Å —á–∏—Å–ª–æ–≤—ã–º–∏ –∏–Ω–¥–µ–∫—Å–∞–º–∏ –æ—Ç 1 –¥–æ 2:")
print(df.iloc[1:3])

# –ü–æ–ª—É—á–µ–Ω–∏–µ –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö —Å –∏–Ω–¥–µ–∫—Å–∞–º–∏ –æ—Ç 0 –¥–æ 1 (–≤–∫–ª—é—á–∏—Ç–µ–ª—å–Ω–æ) 
# –¥–ª—è —Å—Ç—Ä–æ–∫ —Å –∏–Ω–¥–µ–∫—Å–∞–º–∏ –æ—Ç 1 –¥–æ 2 (–≤–∫–ª—é—á–∏—Ç–µ–ª—å–Ω–æ)
print("\ndf.iloc[1:3, 0:2] –ó–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö –æ—Ç 0 –¥–æ 1 –¥–ª—è —Å—Ç—Ä–æ–∫ –æ—Ç 1 –¥–æ 2:")
print(df.iloc[1:3, 0:2])

–°—Ç—Ä–æ–∫–∞ —Å –∏–Ω–¥–µ–∫—Å–æ–º 'b':
one      1.000000
two      1.000000
three    1.166335
Name: b, dtype: float64

df.loc['b', 'one'] –ó–Ω–∞—á–µ–Ω–∏–µ –≤ —è—á–µ–π–∫–µ —Å –∏–Ω–¥–µ–∫—Å–æ–º —Å—Ç—Ä–æ–∫–∏ 'b' –∏ —Å—Ç–æ–ª–±—Ü–∞ 'one':
1.0

df['one']['b'] –¢–æ –∂–µ –∑–Ω–∞—á–µ–Ω–∏–µ, –Ω–æ –¥—Ä—É–≥–∏–º —Å–ø–æ—Å–æ–±–æ–º:
1.0

df.loc['a':'b', 'one'] –ó–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–µ 'one' –¥–ª—è —Å—Ç—Ä–æ–∫ —Å –∏–Ω–¥–µ–∫—Å–∞–º–∏ –æ—Ç 'a' –¥–æ 'b':
a    0.0
b    1.0
Name: one, dtype: float64

–í—Å–µ —Å—Ç–æ–ª–±—Ü—ã –¥–ª—è —Å—Ç—Ä–æ–∫ —Å –∏–Ω–¥–µ–∫—Å–∞–º–∏ –æ—Ç 'a' –¥–æ 'b':
   one  two     three
a  0.0  0.0 -0.359411
b  1.0  1.0  1.166335

df.loc[:, 'one'] –í—Å–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–µ 'one':
a    0.0
b    1.0
c    NaN
d    2.0
e    3.0
f    4.0
g    5.0
k    NaN
Name: one, dtype: float64

df.iloc[2] –°—Ç—Ä–æ–∫–∞ —Å —á–∏—Å–ª–æ–≤—ã–º –∏–Ω–¥–µ–∫—Å–æ–º 2:
one           NaN
two      2.000000
three    2.130503
Name: c, dtype: float64

df.iloc[1:3] –°—Ç—Ä–æ–∫–∏ —Å —á–∏—Å–ª–æ–≤—ã–º–∏ –∏–Ω–¥–µ–∫—Å–∞–º–∏ –æ—Ç 1 –¥–æ 2:
   one  two     three
b  1.0  1.0  1.166335
c  NaN  2.0  2.130503

df.iloc[1:3, 0:2] –ó–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö –æ—Ç 0 –¥–æ 1 –¥–ª—è —Å—Ç—Ä–æ–∫ –æ—Ç 1 –¥–æ 2:
   one  two
b  1.0  1.0
c  NaN  2.0

In [47]:
df[df.three > 0]

   one  two     three
b  1.0  1.0  1.166335
c  NaN  2.0  2.130503
f  4.0  5.0  0.152515
k  NaN  NaN  0.589751

In [50]:
print(df.notna())

     one    two  three
a   True   True   True
b   True   True   True
c  False   True   True
d   True   True   True
e   True   True   True
f   True   True   True
g   True   True  False
k  False  False   True

In [54]:
print(df.dropna())

   one  two     three
a  0.0  0.0 -0.359411
b  1.0  1.0  1.166335
d  2.0  3.0 -1.510119
e  3.0  4.0 -0.012951
f  4.0  5.0  0.152515

In [52]:
print(df)

   one  two     three
a  0.0  0.0 -0.359411
b  1.0  1.0  1.166335
c  NaN  2.0  2.130503
d  2.0  3.0 -1.510119
e  3.0  4.0 -0.012951
f  4.0  5.0  0.152515
g  5.0  6.0       NaN
k  NaN  NaN  0.589751

In [ ]:
–°–≥–µ–Ω–µ—Ä–∏—Ä—É–π—Ç–µ —Å–ª—É—á–∞–π–Ω—É—é —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—É—é –º–∞—Ç—Ä–∏—Ü—É ùëõ√óùëö , –≥–¥–µ ùëõ=20,ùëö=10 . –°–æ–∑–¥–∞–π—Ç–µ –∏–∑ –Ω–µ–µ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º,
–ø—Ä–æ–Ω—É–º–µ—Ä–æ–≤–∞–≤ —Å—Ç–æ–ª–±—Ü—ã —Å–ª—É—á–∞–π–Ω–æ–π –ø–µ—Ä–µ—Å—Ç–∞–Ω–æ–≤–∫–æ–π —á–∏—Å–µ–ª –∏–∑ {1,‚Ä¶,ùëö} . –í—ã–±–µ—Ä–∏—Ç–µ —Å—Ç–æ–ª–±—Ü—ã —Å —á–µ—Ç–Ω—ã–º–∏ –Ω–æ–º–µ—Ä–∞–º–∏ –∏
—Å—Ç—Ä–æ–∫–∏, –≤ –∫–æ—Ç–æ—Ä—ã—Ö —á–µ—Ç–Ω—ã—Ö —ç–ª–µ–º–µ–Ω—Ç–æ–≤ –±–æ–ª—å—à–µ, —á–µ–º –Ω–µ—á–µ—Ç–Ω—ã—Ö.

In [75]:
import pandas as pd
import numpy as np
n, m = 20, 10
np.random.seed(42)
# –ì–µ–Ω–µ—Ä–∞—Ü–∏—è —Å–ª—É—á–∞–π–Ω–æ–π —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω–æ–π –º–∞—Ç—Ä–∏—Ü—ã 20x10
matrix = np.random.randint(1, 101, size=(n,m))
heads = np.arange(1,m+1)
print(matrix)
np.random.shuffle(heads)
print(heads)
# # –°–æ–∑–¥–∞–Ω–∏–µ DataFrame —Å –ø–µ—Ä–µ–Ω—É–º–µ—Ä–æ–≤–∞–Ω–Ω—ã–º–∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏
df = pd.DataFrame(matrix, columns = heads )
print(df)
# –í—ã–±–æ—Ä —Å—Ç–æ–ª–±—Ü–æ–≤ —Å —á–µ—Ç–Ω—ã–º–∏ –Ω–æ–º–µ—Ä–∞–º–∏
heads_mask = (heads % 2 == 0)
# –í—ã–±–æ—Ä —Å—Ç—Ä–æ–∫ —Å —á–µ—Ç–Ω—ã–º–∏ –Ω–æ–º–µ—Ä–∞–º–∏
row_mask = np.sum(matrix % 2, axis=1) < m/2
print(heads_mask )      # True  True False  True  True  True False False False False
print(row_mask)       # False False False False False  True  True False]

print("–°–≥–µ–Ω–µ—Ä–∏—Ä–æ–≤–∞–Ω–Ω–∞—è –º–∞—Ç—Ä–∏—Ü–∞:")
print(df.loc[row_mask,heads_mask])

[[ 52  93  15  72  61  21  83  87  75  75]
 [ 88 100  24   3  22  53   2  88  30  38]
 [  2  64  60  21  33  76  58  22  89  49]
 [ 91  59  42  92  60  80  15  62  62  47]
 [ 62  51  55  64   3  51   7  21  73  39]
 [ 18   4  89  60  14   9  90  53   2  84]
 [ 92  60  71  44   8  47  35  78  81  36]
 [ 50   4   2   6  54   4  54  93  63  18]
 [ 90  44  34  74  62 100  14  95  48  15]
 [ 72  78  87  62  40  85  80  82  53  24]
 [ 26  89  60  41  29  15  45  65  89  71]
 [  9  88   1   8  88  63  11  81   8  35]
 [ 35  33   5  41  28   7  73  72  12  34]
 [ 33  48  23  62  88  37  99  44  86  91]
 [ 35  65  99  47  78   3   1   5  90  14]
 [ 27   9  79  15  90  42  77  51  63  96]
 [ 52  96   4  94  23  15  43  29  36  13]
 [ 32  71  59  86  28  66  42  45  62  57]
 [  6  28  28  44  84  30  62  75  92  89]
 [ 62  97   1  27  62  77   3  70  72  27]]
[ 6  8  7 10  4  2  3  1  5  9]
    6    8   7   10  4    2   3   1   5   9
0   52   93  15  72  61   21  83  87  75  75
1   88  100  24   3  22   53   2  88  30  38
2    2   64  60  21  33   76  58  22  89  49
3   91   59  42  92  60   80  15  62  62  47
4   62   51  55  64   3   51   7  21  73  39
5   18    4  89  60  14    9  90  53   2  84
6   92   60  71  44   8   47  35  78  81  36
7   50    4   2   6  54    4  54  93  63  18
8   90   44  34  74  62  100  14  95  48  15
9   72   78  87  62  40   85  80  82  53  24
10  26   89  60  41  29   15  45  65  89  71
11   9   88   1   8  88   63  11  81   8  35
12  35   33   5  41  28    7  73  72  12  34
13  33   48  23  62  88   37  99  44  86  91
14  35   65  99  47  78    3   1   5  90  14
15  27    9  79  15  90   42  77  51  63  96
16  52   96   4  94  23   15  43  29  36  13
17  32   71  59  86  28   66  42  45  62  57
18   6   28  28  44  84   30  62  75  92  89
19  62   97   1  27  62   77   3  70  72  27
[ True  True False  True  True  True False False False False]
[False  True  True  True False  True  True  True  True  True False False
 False False False False False  True  True False]
–°–≥–µ–Ω–µ—Ä–∏—Ä–æ–≤–∞–Ω–Ω–∞—è –º–∞—Ç—Ä–∏—Ü–∞:
    6    8   10  4    2
1   88  100   3  22   53
2    2   64  21  33   76
3   91   59  92  60   80
5   18    4  60  14    9
6   92   60  44   8   47
7   50    4   6  54    4
8   90   44  74  62  100
9   72   78  62  40   85
17  32   71  86  28   66
18   6   28  44  84   30