In [5]:
#1
name = input("Как тебя зовут? ")
age = int(input("Сколько тебе лет? "))
city = input("Введите ваше место проживания: ")
print("1. Привет, меня зовут {}. Мне {} лет. Я живу в {}.".format(name, age, city))
print("2. Привет, меня зовут %s. Мне %d лет. Я живу в %s." % ( name, age,city ))
print(f"3. Привет, меня зовут {name}. Мне {age} лет. Я живу в {city}.")

Как тебя зовут?  Olga
Сколько тебе лет?  300
Введите ваше место проживания:  Düsseldorf

1. Привет, меня зовут Olga. Мне 300 лет. Я живу в Düsseldorf.
2. Привет, меня зовут Olga. Мне 300 лет. Я живу в Düsseldorf.
3. Привет, меня зовут Olga. Мне 300 лет. Я живу в Düsseldorf.

In [4]:
#2
num1 = float(input("Введите первое число: "))
num2 = float(input("Введите второе число: "))
print(f"Сумма: {num1 + num2:.2f}, Произведение: {num1 * num2:.2f}")

Введите первое число:  4.3215464
Введите второе число:  2.654654654

Сумма: 6.98, Произведение: 11.47

In [9]:
text= 'Hello'
i=0
while i < len (text) :
    item =text[i]
    i+=1
print(item)

o

In [11]:
text = 'Hello'

for item in text:
    print(item, end='*')

H*e*l*l*o*

In [16]:
text = 'Hello'

for item in text:
    print(item,'')

H
e
l
l
o

In [17]:
text = {12, 68, 89, 56}

for item in text:
    print(item)

56
89
12
68

In [20]:
text = (12, 68, 89, 56)  # Кортеж

for item in text:
    print(item)

12
68
89
56

In [27]:
letters = 'plt0JFHgtlbgndfWLFNT'
res =''
for item in letters:
    if item.islower():
        res += item
print(res)

pltgtlbgndf

In [25]:
letters = 'Ablt0JFHgtlbgndfWLFNT'
for letter in letters:
    if letter.upper() == letter:
        letters.replace(letter, '')
print(letters)

Ablt0JFHgtlbgndfWLFNT

In [29]:
res = ''. join(item for item in letters if item. islower())
print(res)

pltgtlbgndf

In [30]:
print(*range(10, 2, -2))

10 8 6 4

In [31]:
for i in range(5):
    print(i)

0
1
2
3
4

In [32]:
for _ in range(5):
    print(i)

4
4
4
4
4

In [35]:
x= 'Pythin'
print(*enumerate(x))

(0, 'P') (1, 'y') (2, 't') (3, 'h') (4, 'i') (5, 'n')

In [36]:
x= 'Pythin'
print(enumerate(x))

<enumerate object at 0x000002796830E840>

In [38]:
x = [12, 23, 3, 56, 67, 78]
res = ''
for i, item in enumerate(x):
    res += f'{i} {item}\n'
print(res)
print(i, item)

0 12
1 23
2 3
3 56
4 67
5 78

5 78

In [ ]:
x = ['apple', 'banana', 'orange']
prices = [10, 20, 30]
cart = [1, 2, 1.5]

for item, price, quantity in zip(x, prices, cart):
print(f'{item} {quantity} x {price} = {quantity * price} DKK')

In [39]:
x = ['apple', 'banana', 'orange']
prices = [10, 20, 30]
cart = [1, 2, 1.5]
total = 0
for item, price, quantity in zip(x, prices, cart):
    print(f'{item} {quantity} x {price} = {quantity * price} DKK')
    total += quantity * price
print(f'Total: {total} DKK')

apple 1 x 10 = 10 DKK
banana 2 x 20 = 40 DKK
orange 1.5 x 30 = 45.0 DKK
Total: 95.0 DKK